:root {
  --pad-x: 10.3em;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "inter", sans-serif;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 15px;
  line-height: 160%;
}

header {
  max-width: 1440px;
  box-sizing: border-box;
  padding-inline: var(--pad-x);
  padding-block: 5.5em 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  cursor: pointer;
}
header .menu-icon {
  display: none;
  cursor: pointer;
}
header nav {
  display: flex;
  gap: 1rem 2.45rem;
  position: relative;
  z-index: 2;
}
header nav a:hover {
  color: hsl(5, 85%, 63%);
}
header nav .close-icon {
  display: none;
  position: absolute;
  width: 32px;
  margin: 28px 16px;
  right: 0;
  top: 0;
}

main {
  max-width: 1440px;
  box-sizing: border-box;
  padding-inline: var(--pad-x);
  padding-block: 0em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.25em 2rem;
}

main .hero-section {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
main .hero-section img {
  width: 100%;
  grid-column: span 2;
  margin-bottom: 34px;
}
main .hero-section h1 {
  font-size: clamp(2.5rem, 4vw + 1rem, 3.5rem);
  margin-block: 0 0.25em;
  line-height: 100%;
  font-weight: 800;
}
main .hero-section > div p {
  margin-block: 0 2em;
}
main .hero-section > div button {
  width: 185px;
  height: 50px;
  border: none;
  padding: 0;
  background-color: hsl(5, 85%, 63%);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}
main .hero-section > div button:hover {
  background-color: hsl(240, 100%, 5%);
}

main .right-section {
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding-inline: 24px;
  padding-block: 16px;
}
main .right-section h2 {
  font-size: 2.45rem;
  margin-block: 0.25em 0.85em;
  color: hsl(35, 77%, 62%);
}
main .right-section article {
  position: relative;
  padding-bottom: 30px;
}
main .right-section article:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  inset: auto 0 0 0;
  background-color: #fff;
}
main .right-section article:last-child {
  padding-bottom: 0;
}
main .right-section article a {
  display: block;
  margin-top: 1.675em;
  margin-bottom: 0.4em;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}
main .right-section article a:hover {
  color: hsl(35, 77%, 62%);
}
main .right-section article p {
  margin-block: 0;
  color: hsl(236, 13%, 42%);
}

main .bottom-section {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px 28px;
}
main .bottom-section article {
  display: grid;
  grid-template-columns: 100px 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
main .bottom-section article img {
  grid-row: span 3;
  width: 100%;
}
main .bottom-section article .number {
  color: hsl(233, 8%, 79%);
  font-weight: 800;
  font-size: 2rem;
  margin-block: 0;
  line-height: 100%;
  margin-bottom: 0.375em;
}
main .bottom-section article a {
  display: block;
  font-weight: 700;
  font-size: 1.15rem;
  cursor: pointer;
}
main .bottom-section article a:hover {
  color: hsl(5, 85%, 63%);
}
main .bottom-section article .description {
  margin-top: 0.75em;
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  :root {
    --pad-x: 5em;
  }
}
@media (max-width: 1200px) {
  :root {
    --pad-x: 1.5em;
  }
}
@media (max-width: 1100px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 1rem;
  }
  main .hero-section {
    grid-column: span 4;
  }
  main .right-section {
    grid-column: span 2;
  }
  main .bottom-section {
    grid-column: span 2;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  :root {
    --pad-x: 16px;
  }
  header {
    padding-block: 1.75em 2rem;
  }
  header .logo {
    width: 45px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    inset: 0 var(--pos-x, -100%) 0 auto;
    transition-duration: 0.3s;
  }
  header nav a {
    margin-left: 1rem;
  }
  header nav .close-icon {
    display: block;
  }
  header nav.show {
    --pos-x: 0%;
    box-shadow: 0 0 5px 1000px rgba(0, 0, 0, 0.301);
  }
  header .menu-icon {
    display: block;
  }
  main .hero-section,
  main .right-section,
  main .bottom-section {
    grid-column: span 4;
  }
  main .hero-section h1,
  main .hero-section > div {
    grid-column: span 2;
  }
  main .hero-section img {
    grid-column: span 2;
    aspect-ratio: 1.15/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .bottom-section article {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  main .bottom-section article p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */